
@{
    ViewData["Title"] = "Личный кабинет";
}

<h1>@ViewData["Title"]</h1>

<p>Имя: @ViewBag.User.ClientFIO</p>
<p>Логин: @ViewBag.User.Login</p>
<p>Почта: @ViewBag.User.Email</p>
<p>Номер телефона: @ViewBag.User.PhoneNumber</p>
<p>Пароль: @ViewBag.User.Password</p>
