@model TravelAgencyWebClient.Models.CreateTravelModel

@{
    ViewData["Title"] = "Создать путешествие";
}
<div class="text-center text-info">
    <h1>@ViewData["Title"]</h1>
</div>
<hr />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @style = "color: red" })
    <p>Состав:</p>
    <table class="table">
        <tr>
            <td>Тур</td>
            <td>Страна</td>
            <td>Тип размещения</td>
            <td>Длительность</td>
            <td>Количество</td>
            <td>Цена</td>
        </tr>}
        @foreach (TravelAgencyBusinessLogic.ViewModel.TourViewModel tour in ViewBag.TravelTours)
        {
            <tr>
                <td>@tour.TourName</td>
                <td>@tour.Country</td>
                <td>@tour.TypeOfAllocation</td>
                <td>@tour.Duration</td>
                <td><input type="number" name="Model.TravelTours[@tour.Id]" value="0" min="0" /></td>
                <td>@tour.Cost</td>
            </tr>
        }
    </table>
    <button type="submit" class="btn btn-info btn-sm">Создать</button>
}
