@model TravelAgencyWebClient.Models.CreateTravelModel

@{
    ViewData["Title"] = "Создать путешествие";
}

<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <p>Состав:</p>
    <table>
        <tr>
            <td>Тур</td>
            <td>Страна</td>
            <td>Тип размещения</td>
            <td>Длительность</td>
            <td>Количество</td>
            <td>Цена</td>
        </tr>
        @foreach (TravelAgencyBusinessLogic.ViewModel.TourViewModel tour in ViewBag.Tours)
        {
            <tr>
                <td>@tour.TourName</td>
                <td>@tour.Country</td>
                <td>@tour.TypeOfAllocation</td>
                <td>@tour.Duration</td>
                <td><input type="number" name="Model.TravelTours[@tour.Id]" min="0" /></td>
                <td>@tour.Cost</td>
            </tr>
        }
    </table>

    <button type="submit">Создать</button>
}