@model ReportModel
@{
    ViewData["Title"] = "Путешествия";
}

<div class="text-center text-info">
    <h1>Путешествия</h1>
</div>
<hr />
<p> <strong> <a class="btn btn-info btn-sm" asp-area="" asp-controller="travel" asp-action="CreateTravel">Оформить</a></strong></p>
<hr />
@using (Html.BeginForm())
{
    <p>
        Выберите даты для отображения отчета по путешествиям и оплатам
    </p>
    <p>
        От: @Html.EditorFor(model => model.From)
    </p>
    <p>
        До: @Html.EditorFor(model => model.To)
    </p>
    <p>
        @Html.EditorFor(model => model.SendMail) Отправить отчёт по путешествиям и оплатам на почту
    </p>
    <p>
        <button type="submit" class="btn btn-info btn-sm">Получить</button>
    </p>
}
<hr />
@foreach (var travel in ViewBag.travels)
{
    <p><strong>Номер: @travel.Id </strong></p>
    <p>Дата покупки: @travel.DateOfBuying</p>
    <p>Статус: @travel.Status</p>
    <p>Цена: @travel.FinalCost</p>
    <p>Общая длительность: @travel.Duration</p>
    <p>Состав:</p>
    <table class="table">
        <tr>
            <td>Тур</td>
            <td>Страна</td>
            <td>Тип размещения</td>
            <td>Длительность</td>
            <td>Цена</td>
            <td>Количество</td>
        </tr>
        @foreach (var tour in travel.TravelTours)
        {
            <tr>
                <td>@tour.TourName</td>
                <td>@tour.Country</td>
                <td>@tour.TypeOfAllocation</td>
                <td>@tour.Duration</td>
                <td>@tour.Cost</td>
                <td>@tour.Count</td>
            </tr>
        }
    </table>
    if (travel.Status != TravelAgencyBusinessLogic.Enums.TravelStatus.Принят && ViewBag.Payments != null)
    {
        <p>Платежи:</p>
        <table class="table">
            <tr>
                <td>Дата</td>
                <td>Сумма</td>
            </tr>
            @foreach (var payment in ViewBag.Payments)
            {
                if (payment.TravelId == travel.Id)
                {
                    <tr>
                        <td>@payment.DatePayment</td>
                        <td>@payment.Sum</td>
                    </tr>
                }
            }
        </table>
    }
    <hr />
    if (travel.Status == TravelAgencyBusinessLogic.Enums.TravelStatus.Оплачен)
    {
        <p>Полностью оплачено</p>
        <hr />
    }
    else
    {
        if (travel.Status == TravelAgencyBusinessLogic.Enums.TravelStatus.Оплачен_не_полностью)
        {
            <p>К оплате: @travel.LeftSum</p>
            <hr />

        }
        <p>
            <a href="/Travel/Payment/@travel.Id">Оплатить</a>
        </p>
    }
    <p>
        <a href="/Travel/SendWordReport/@travel.Id">Отправить список туров в формате .docx</a>
    </p>
    <p>
        <a href="/Travel/SendExcelReport/@travel.Id">Отправить список туров в формате .xslx</a>
    </p>
    <hr />

}
