
@{
    ViewData["Title"] = "Путешествия";
}

<h1>
    @ViewData["Title"]
    <a class="nav-link text-primary" asp-area="" asp-controller="travel" asp-action="CreateTravel">Оформить</a>
</h1>

@foreach (var travel in ViewBag.travels)
{
    <p>Номер: @travel.Id</p>
    <p>Дата покупки: @travel.DateOfBuying</p>
    <p>Статус: @travel.Status</p>
    <p>Цена: @travel.FinalCost</p>
    <p>Общая длительность: @travel.Duration</p>
    <p>Состав:</p>
    <table class="table">
        <tr>
            <td>Тур</td>
            <td>Страна</td>
            <td>Тип размещения</td>
            <td>Длительность</td>
            <td>Количество</td>
            <td>Цена</td>
        </tr>
        @foreach (var tour in travel.TravelTours)
        {
            <tr>
                <td>@tour.TourName</td>
                <td>@tour.Country</td>
                <td>@tour.TypeOfAllocation</td>
                <td>@tour.Duration</td>
                <td>@tour.Count</td>
                <td>@tour.Cost</td>
            </tr>
        }
    </table>
    <p>Сумма путешествия: @travel.FinalCost</p>
    if (travel.Status == TravelAgencyBusinessLogic.Enums.TravelStatus.Оплачен)
    {
        <p>Полностью оплачено</p>
    }
    else
    {
        if (travel.Status == TravelAgencyBusinessLogic.Enums.TravelStatus.Оплачен_не_полностью)
        {
            <p>К оплате: @travel.LeftSum</p>
        }
        <p>
            <a href="/Travel/Payment/@travel.Id">Оплатить</a>
        </p>
    }
    <p>
        <a href="/Travel/SendWordReport/@travel.Id">Отправить список туров в формате .docx</a>
    </p>
    <p>
        <a href="/Travel/SendExcelReport/@travel.Id">Отправить список туров в формате .xslx</a>
    </p>
    <hr />
}
