@model TravelAgencyBusinessLogic.ViewModel.TravelViewModel

@{
    ViewBag.Title = "Просмотр тура";
}
<h2>Просмотр машины</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TravelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

    </dl>

    <table class="table">
        <tr>
            <th>
                Тур
            </th>
            <th>
                Количество
            </th>
            <th></th>
        </tr>

    </table>
</div>
<p>
    @Html.ActionLink("Вернуться к списку машин", "Index")
</p>

