
@{
    ViewData["Title"] = "Туры";
}

<div class="text-center text-info">
    <h1>Туры</h1>
</div>
<table class="table">
    <tr>
        <td>Тур</td>
        <td>Страна</td>
        <td>Тип размещения</td>
        <td>Длительность</td>
        <td>Цена</td>
    </tr>
    @foreach (var tour in ViewBag.tours)
    {
        <tr>
            <td>@tour.TourName</td>
            <td>@tour.Country</td>
            <td>@tour.TypeOfAllocation</td>
            <td>@tour.Duration</td>
            <td>@tour.Cost</td>
        </tr>
    }
</table>
